/* App.css */

:root {
  --primary-color: #444;
  --secondary-color: #1a1a1a;
  --accent-color: #4aa1d1;
  --text-color: #ffffff;
  --shadow-color: rgba(0, 0, 0, 0.25);
  --scrollbar-thumb-color: #333;
}


html,
body,
#root {
  height: 100%;
  font-family: "Rubik", sans-serif;
}

a {
  color: var(--accent-color)
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
}

.App {
  height: 100%;
  display: flex;
  flex-direction: row;
}

/* Add styles for the sidebar */
.sidebar {
  background-color: var(--secondary-color);
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 5px 5px 5px 3px var(--shadow-color);
  padding-right: 1rem;
  overflow-y: auto;
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 1rem 0;
  box-sizing: border-box;
  width: 100%;
}

.sidebar-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--accent-color);
  margin-bottom: 1rem;
}

.sidebar-subheading {
  font-size: 1rem;
  font-weight: bold;
  color: var(--accent-color);
  margin-bottom: 1rem;
}

.sidebar-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
}

.sidebar-section label {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.quick-actions {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  /* Adjust the padding values to your preference */
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}


header {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--accent-color);
  text-shadow: 0px 0px 10px var(--accent-color);
}

.Content-dropdown,
.Context-dropdown,
.user-form {
  font-size: 1rem;
  color: var(--text-color);
  display: flex;
  align-items: center;
}

.user-form {
  margin-bottom: 1rem;
}

.user-form input[type="text"] {
  width: 100%;
  box-sizing: border-box;
}


.Content-dropdown {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid var(--accent-color);
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  outline: none;
  transition: border-color 0.3s;
  width: 100%; /* Add this to set the width to 100% */
  box-sizing: border-box; /* Add this to include padding and border in the width calculation */
}

.Content-dropdown option,
.Context-dropdown option {
  color: black;
}

.Context-dropdown {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid var(--accent-color);
  padding: 0.5rem;
  margin-right: 0.5rem;
  outline: none;
  transition: border-color 0.3s;
  box-sizing: border-box; /* Add this to include padding and border in the width calculation */
}

.agent-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.agent-profile-image {
  max-height: 120px;
  border: 3px solid var(--accent-color);
  border-radius: 50%;
  object-fit: cover;
  display: inline-block;
  margin-bottom: 1rem; /* Add margin to separate the image from the h2 */
}


.Content-dropdown:focus {
  border-color: var(--secondary-color);
}

.Content-dropdown:-moz-focusring {
  color: var(--text-color);
  background-color: var(--primary-color);
}

.user-form>label {
  margin-right: 0.5rem;
}

.form-controls {
  padding: 1rem;
  margin: 1rem;
}

#chat-display {
  flex: 1;
  height: 80%;
  margin: 1rem;
  padding: 1rem;
  overflow-y: scroll;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 10px;
  position: relative;
  padding-bottom: 3.5rem;
  box-sizing: content-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--primary-color);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 10px;
}

.chat-bubble {
  position: relative;
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 5px 5px 5px 3px var(--shadow-color);
}

.chat-bubble.assistant {
  background-color: rgba(0, 0, 0, 0.3);
}

.user {
  color: var(--text-color);
}

.assistant {
  color: var(--text-color);
}

.sender {
  font-weight: bold;
  margin-bottom: 5px;
}

.message {
  margin: 5px 0;
  overflow-wrap: break-word;
}

.message pre,
.message code {
  max-width: 100%;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.message table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  margin: 10px 0;
  color: var(--text-color);
}

.message thead {
  background-color: var(--secondary-color);
}

.message thead tr {
  border-bottom: 2px solid var(--accent-color);
}

.message th,
.message td {
  padding: 8px;
  text-align: left;
  vertical-align: top;
}

.message tbody tr:nth-child(odd) {
  background-color: var(--primary-color);
}

.message tbody tr:nth-child(even) {
  background-color: var(--secondary-color);
}

.message tbody tr:hover {
  background-color: rgba(74, 161, 209, 0.75); /* Adjusted primary-color with opacity */
}

.copy-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--text-color);
  width: 100px;
  background-color: var(--primary-color);
  box-shadow: 5px 5px 5px 3px var(--shadow-color);
  border-top-left-radius: 10px px;
  animation: fade-in 2.5s;
}

.copy-icon.copied {
  background-color: var(--secondary-color);
  color: white;
  animation: fade-out 2.5s;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#chat-input {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}

#footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
  color: var(--text-color);
  flex-shrink: 0;
  /* Add this property to prevent the footer from shrinking */
}

.menu-buttons button {
  color: var(--accent-color);
}

.menu-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  box-sizing: border-box;
  color: var(--text-color);
}

#chat-input form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

#chat-input input[type="text"] {
  width: 80%;
  margin-right: 10px;
  border: 0;
  color: var(--text-color);
  height: 50px;
}

textarea {
  resize: none;
  overflow: hidden;
}

.chat-input-textarea {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--text-color);
  box-shadow: 5px 5px 5px 3px var(--shadow-color);
  margin-right: 10px;
  font-family: "Rubik", sans-serif;
}


::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--text-color);
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--text-color);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--text-color);
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--text-color);
  box-shadow: 5px 5px 5px 3px var(--shadow-color);
  margin-right: 10px;
  font-family: "Rubik", sans-serif;
}

button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  background: var(--primary-color);
  margin: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 3px var(--shadow-color);
  color: var(--text-color);
  font-size: 12px;
  transition: 500ms;
}

button:hover {
  background-color: var(--secondary-color);
  font-size: 11px;
}

button:focus {
  outline: none;
}

.menu-buttons>button {
  margin-bottom: 0.5rem;
  width: calc(100% - 10px);
  box-sizing: border-box;
}

#loading-container {
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  color: rgba(255, 255, 255, 1);
}

.listingSelectBox,
.areaSelectBox {
  font-size: 1rem;
  display:
    inline-block;
  font-family: "Rubik", sans-serif;
  margin-left: 1rem;
}

/* For tablet devices (between 768px and 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .sidebar {
    width: 280px;
    overflow-y: scroll;
  }

  .sidebar-title,
  .sidebar-subheading {
    font-size: 1.2rem;
  }

  .App-title {
    font-size: 1.2rem;
  }

  header {
    padding: 0.5rem 1rem;
  }

  .Content-dropdown,
  .Context-dropdown {
    font-size: 0.9rem;
  }

  #chat-input {
    flex-wrap: wrap;
  }

  .Context-dropdown {
    margin-bottom: 0.5rem;
    width: 100%;
  }
  

  #chat-input form {
    width: 100%;
    flex-direction: column;
  }

  .button-group {
    display: flex;
    justify-content: space-between;
  }

  #chat-input input[type="text"] {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
  }

  #chat-input button[type="submit"],
  #chat-input button:not([type]) {
    width: calc(50% - 5px);
  }

  .user-form input[type="text"] {
    font-size: 0.9rem;
  }

  .menu-buttons {
    grid-template-columns: repeat(1, 1fr);
  }

  button {
    width: 120px;
    height: 40px;
    font-size: 10px;
  }

  #footer span {
    font-size: 0.5rem;
    padding-left: 0.5rem;
  }
}

/* For mobile devices (below 768px) */
@media (max-width: 767px) {
  .sidebar {
    width: 250px;
    overflow-y: scroll;
  }

  .sidebar-title,
  .sidebar-subheading {
    font-size: 1rem;
  }

  .App-title {
    font-size: 1rem;
  }

  header {
    padding: 0.5rem;
  }

  .Content-dropdown,
  .Context-dropdown {
    font-size: 0.8rem;
  }

  #chat-input {
    flex-wrap: wrap;
  }

  .Context-dropdown {
    margin-bottom: 0.5rem;
    width: 100%;
  }

  #chat-input form {
    width: 100%;
    flex-direction: column;
  }

  .button-group {
    display: flex;
    justify-content: space-between;
  }

  #chat-input input[type="text"] {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
  }

  #chat-input button[type="submit"],
  #chat-input button:not([type]) {
    width: calc(50% - 5px);
  }

  .menu-buttons {
    grid-template-columns: repeat(1, 1fr);
  }

  button {
    width: 100px;
    height: 35px;
    font-size: 9px;
  }

  #footer span {
    font-size: 0.5rem;
    padding-left: 0.5rem;
  }
}
