/* App.css */

:root {
  --primary-color: #1a1a1a;
  --secondary-color: #ffffff;
  --accent-color: #1f739e;
  --text-color: #f5f5f5;
  --shadow-color: rgba(0, 0, 0, 0.25);
  --scrollbar-thumb-color: #222;
}

html,
body,
#root {
  height: 100%;
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--accent-color);
  text-shadow: 0px 0px 10px var(--accent-color);
}

.Content-dropdown,
.user-form {
  font-size: 1rem;
  color: var(--text-color);
  display: flex;
  align-items: center;
}

.Content-dropdown {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid var(--accent-color);
  padding: 0.5rem;
  margin-right: 0.5rem;
  outline: none;
  transition: border-color 0.3s;
}

.Content-dropdown:focus {
  border-color: var(--secondary-color);
}

.user-form > label {
  margin-right: 0.5rem;
}

.form-controls {
  padding: 1rem;
  margin: 1rem;
}

#chat-display {
  height: 80%;
  margin: 1rem;
  padding: 1rem;
  overflow-y: scroll;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 10px;
  position: relative;
  padding-bottom: 3.5rem;
  box-sizing: content-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--primary-color);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 10px;
}

.chat-bubble {
  position: relative;
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 3px var(--shadow-color);
}

.user {
  color: var(--text-color);
}

.assistant {
  color: var(--text-color);
}

.sender {
  font-weight: bold;
  margin-bottom: 5px;
}

.message {
  margin: 5px 0;
}

.copy-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--text-color);
  width: 100px;
  background-color: var(--primary-color);
  box-shadow: 0 1px 3px var(--shadow-color);
  border-top-left-radius: 10px
  px;
  animation: fade-in 2.5s;
}

.copy-icon.copied {
background-color: var(--secondary-color);
color: white;
animation: fade-out 2.5s;
}

@keyframes fade-out {
from {
opacity: 1;
}
to {
opacity: 0;
}
}

@keyframes fade-in {
from {
opacity: 0;
}
to {
opacity: 1;
}
}

#chat-input {
display: flex;
justify-content: center;
width: 100%;
margin-bottom: 1rem;
}

#footer {
display: flex;
justify-content: center;
width: 100%;
margin-bottom: 1rem;
color: var(--text-color);
}

#quick-actions {
display: flex;
justify-content: center;
width: 97%;
margin-bottom: 1rem;
padding: 0rem 1rem;
}

.menu-buttons button {
color: var(--accent-color);
text-shadow: 0px 0px 10px var(--accent-color);
}

.menu-buttons {
display: flex;
justify-content: center;
width: 100%;
flex-wrap: wrap;
}

#chat-input form {
display: flex;
align-items: center;
justify-content: center;
width: 80%;
}

#chat-input input[type="text"] {
width: 80%;
margin-right: 10px;
border: 0;
color: var(--text-color);
height: 50px;
}

::placeholder {
/* Chrome, Firefox, Opera, Safari 10.1+ /
color: var(--text-color);
opacity: 1; / Firefox */
}

:-ms-input-placeholder {
/* Internet Explorer 10-11 */
color: var(--text-color);
}

::-ms-input-placeholder {
/* Microsoft Edge */
color: var(--text-color);
}

input[type="text"] {
flex: 1;
padding: 10px;
font-size: 16px;
border: 0;
border-radius: 5px;
background-color: var(--primary-color);
color: var(--text-color);
box-shadow: 0 1px 3px var(--shadow-color);
margin-right: 10px;
font-family: "Rubik", sans-serif;
}

button {
width: 150px;
height: 50px;
cursor: pointer;
background: var(--primary-color);
margin: 10px;
border: none;
border-radius: 10px;
box-shadow: 0 1px 3px var(--shadow-color);
color: var(--text-color);
font-size: 12px;
transition: 500ms;
}

button:hover {
background-color: var(--secondary-color);
font-size: 11px;
}

button:focus {
outline: none;
}

.menu-buttons > button {
margin-bottom: 0.5rem;
width: 8%;
}

#loading-container {
align-items: center;
justify-content: center;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
z-index: 9999;
color: rgba(255, 255, 255, 1);
}

.listingSelectBox,
.areaSelectBox {
font-size: 1rem;
display:
inline-block;
font-family: "Rubik", sans-serif;
margin-left: 1rem;
}

/* Media queries */

@media only screen and (max-width: 600px) {
/* Adjust font sizes for smaller screens */
header {
font-size: 1rem;
}
.App-title {
font-size: 1.5rem;
}
.Content-dropdown,
.user-form {
font-size: 0.8rem;
}
.listingSelectBox {
font-size: 0.8rem;
}
input[type="text"],
button {
font-size: 0.8rem;
}
}

@media only screen and (max-width: 400px) {
/* Further adjust font sizes for even smaller screens /
header {
font-size: 0.8rem;
}
.App-title {
font-size: 1rem;
color: var(--accent-color);
text-shadow: 0px 0px 10px var(--accent-color);
}
.Content-dropdown,
.user-form {
font-size: 0.7rem;
}
.listingSelectBox {
font-size: 0.7rem;
}
input[type="text"],
button {
font-size: 0.7rem;
width: 65px;
}
#chat-input {
padding: 0.5rem;
}
#chat-input form {
display: block;
}
.menu-buttons > button {
margin-bottom: 0.5rem;
width: 20%;
height: 20px;
}
#footer span {
padding-right: 0.5rem;
padding-left: 0.5rem;
font-size: 8px;
}
/ Reduce chat display height to fit smaller screens */
#chat-display {
height: 60%;
}
}